@model IEnumerable<TaskType>

@{
    ViewData["Title"] = "Тип заданния";
    int index = 0;
}

<form asp-action="Option">
    <div class="row g-3 justify-content-center my-3">
      <div class="col-auto">
        <label class="">Количество заданий </label>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" name="quantity" value="10">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-warning">Приступить</button>
      </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            @foreach(var taskType in Model){

                index++;
                <input type="radio" class="btn-check" name="taskTypeId" id="taskType-@index" autocomplete="off" value="@taskType.Id">
                <label class="btn btn-outline-secondary m-3 rounded-pill" for="taskType-@index">@taskType.Name</label>
            }
        </div>
    </div>
</form>